html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.container {
  display: flex;
  max-width: 960px;
  background-color: #eaeaea;
  margin: 20px auto;
  justify-content: space-between;
  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.1)
}

/*profile*/

.profile {
  flex-basis: 34%;
  color: #ababab;
  background-color: #39383a;
}

.profile-info {
  padding: 50px 30px 70px 50px;
}

.profile-photo {
  height: 230px;
  background: url(img/me.jpg) no-repeat;
  background-size: cover;
}

.profile-text {
  line-height: 24.19px;
  font-size: 13px;
}

.heading {
  margin: 0;
  padding-bottom: 16px;
}

.heading-light {
  color: #ffffff;
  border-bottom: 2px dashed #5a5a5a;
  text-transform: uppercase;
  font-weight: 700;
}

/*contacts*/

.contacts {
  margin-top: 53px;
  margin-bottom: 70px;
}

.contact-title {
  color: #ffffff;
  margin-bottom: 13px;
  font-weight: 400;
}

.contact-text {
  color: #ababab;
  padding-left: 27px;
}

.contact-item {
  border-bottom: 2px dashed #5a5a5a;
  padding-bottom: 24px;
}

.fas {
  margin-right: 10px;
}

/*works*/

.works__list li {
  margin-bottom: 20px;
}

.works__link {
  color: #00aeef;
}
.works__link:hover {
  color: #ffffff;
}

/*resume*/

.resume {
  padding: 23px 28px;
  background: #ffffff;
  flex-basis: 63%;
}

.resume-container {
  border: 1px solid rgba(168, 168, 168, 0.44);
  padding: 36px 31px 118px 52px;
  min-height: 100%;
}

.logo-image {
  width: 90px;
  height: 90px;
  border: 1px solid #39383a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.logo-line {
  width: 43px;
  height: 2px;
  background-color: #39383a;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-lines__left .logo-line:nth-child(2) {
  margin-right: 24px;
  width: 55px;
}

.logo-lines__right .logo-line:nth-child(2) {
  margin-left: 24px;
  width: 55px;
}

.logo-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 17px;
  margin-right: 17px;
}

/*about*/

.about {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 32px;
  margin-bottom: 39px;
}

.name {

  letter-spacing: 12.75px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.position {
  display: inline-block;
  color: #808080;
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-weight: 400;
  letter-spacing: 1.72px;
}

.about-adress {
  font-size: 13px;
  font-style: normal;
  margin-bottom: 14px;
}

.about-contacts {
  font-size: 8px;
}

.about-contacts a {
  color: #777777;
}

/*education*/

.heding-dark {
  text-transform: uppercase;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 23px;
  margin-bottom: 37px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list-item {
  position: relative;
  padding-left: 40px;
  padding-bottom: 30px;
  border-bottom: 2px dashed #ececec;
}

.list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background-color: #39383a;
  width: 9px;
  height: 9px;
  border-radius: 50%
}

.list-item__title {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.list-item__date {
  font-size: 10px;
  text-transform: uppercase;
}

.list-item__text {
  font-size: 10px;
  font-weight: 400;
  color: #777777;
}

.list-item__non-border {
  border: none;
}

/*skills*/

.heading-skills {
  margin-bottom: 49px;
}

.skills-list {
  list-style: none;
  padding-left: 0;
}

.skills-list__item {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}

.progress {
  width: 70%;
  height: 8px;
  border: 1px solid #39383a;
  position: relative;
}

.progress::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #898989;
}

.progress-80::before {
  width: 80%;
}

.progress-70::before {
  width: 70%;
}

.progress-90::before {
  width: 90%;
}
.progress-100::before {
  width: 100%;
}

.progress-30::before {
  width: 30%;
}

.progress-20::before {
  width: 20%;
}

/*programs*/

.programms-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  flex-wrap: wrap;
}

.programms-list__item {
  padding: 10px;
}


@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
    width: 70%;
  }

  .profile-photo {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }

  .resume {
    padding: 10px;
  }

  .resume-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 567px) {
  .logo-image {
    width: 70px;
    height: 70px;
  }

  .list-item__title {
    font-size: 14px;
  }

  .list-item__date {
    font-size: 12px;
  }

  .list-item__text {
    font-size: 12px;
    line-height: 1.4;
  }

  .about-contacts a {
    display: block;
    font-size: 13px;
  }
}

@media (max-width: 480px) {

  .profile-photo {
    height: 230px;
  }

  .container {
    min-width: 320px;
  }

  .name {
    letter-spacing: normal;
  }

  .progress {
    width: 50%;
  }
}
